<h4>Equipes</h4>

<button mat-raised-button color="primary" [routerLink]="['/equipes/equipe-detail']">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>

<div class="div-panel mat-elevation-z8 mt-2">
  <div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let item">
        <div>
          {{item.id}}
          <span class="id" *ngIf="item.id"></span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nmequipe">
      <mat-header-cell *matHeaderCellDef>Equipe</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let item">
        <div>
          {{item.nmequipe}}
          <span class="nmequipe" *ngIf="item.nmequipe"></span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantidadeEquipes">
      <mat-header-cell *matHeaderCellDef>Qtd Equipes</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let item">
        <div>
          {{item.quantidadeEquipes}}
          <span class="quantidadeEquipes" *ngIf="item.quantidadeEquipes"></span>
        </div>
      </mat-cell>
  </ng-container>

    <ng-container matColumnDef="editar">
      <mat-header-cell class="colunasAcao"  *matHeaderCellDef>Editar</mat-header-cell>
      <mat-cell class="colunasAcao"  *matCellDef="let equipe">
        <button matTooltip="Alterar" class="botoesAcao" mat-icon-button color="primary" [routerLink]="['/equipe', equipe.id]" >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <mat-header-cell class="colunasAcao"  *matHeaderCellDef>Excluir</mat-header-cell>
      <mat-cell class="colunasAcao"  *matCellDef="let equipe">
        <button matTooltip="Excluir" class="botoesAcao" mat-icon-button color="primary" (click)="onExcluir(equipe)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.recordsTotal" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

</div>
